# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
- List Commonly used libraries
- List Popular languages used
- List Data science tools
- Examples of Arithmetic Expressions in Python

## Author: Jean Miller

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Numpy
3. Pandas

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|Spyder|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335